
/* css */

.firstSpace {
  height: 100px;
}

.art{
  width: 100%;
  position: absolute;
  z-index: 0;
}

#title {
  font-size: 128px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  font-family: inherit;
  right: -25%;
}

#start {
  position: absolute;
  top: 300px;
  left: 700px;
}

.popup{
  visibility: hidden;
  opacity: 90%;
  z-index: 1;
}

button .popup {
  opacity: 100%;
}

button: hover{
  background-color: #00008B;
}

.open-popup {
  visibility: visible;
}
.close-popup {
  visibility: hidden;
}


.popup {
  width: 400px;
  background: grey;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  padding: 0 30px 30px;
}
